# OOP  basic concept -class

# 1.1 method

In [1]:
class test:
    pass

In [3]:
a=test()  ## 'a' is an object of test class
print(type(a))

<class '__main__.test'>

In [8]:
class test1:
    pass
b=test1()
b.name='samma'
b.age=12
b.year_of_birth=243

c=test1()
c.name='sddsf'
c.age=89
c.surname='fr'

In [9]:
print(b)

<__main__.test1 object at 0x000001E7BFD53308>

In [10]:
b.name

'samma'

In [11]:
c.age

89

In [12]:
b.surname    # no attribute for b

AttributeError: 'test1' object has no attribute 'surname'

In [13]:
print("name - %s, age- %d, born in %s."%(b.name,b.age,b.year_of_birth))

name - samma, age- 12, born in 243.

In [16]:
# __init__ function starts with a pointer(like self or anything)
# this function is used for initialization(in-built)
# it just pass the data to class person

class person:
    def __init__(self,name,surname,year):
        self.name=name
        self.surname=surname
        self.year=year

In [17]:
a=person()

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'year'

In [22]:
a=person('samma','sam',2019)
a.name   # a is class variable
a.year

b=person('seyam','dsb',456)
b.year

456

In [26]:
class person:
    def __init__(self,name,surname,year):
        self.name1=name
        self.surname1=surname
        self.year1=year

In [27]:
a=person('samma','sam',2019)
a.name

AttributeError: 'person' object has no attribute 'name'

In [29]:
a.name1    # classs recognizes self.name1 not name (in last case)

'samma'

# 1.2 method

In [39]:
class person1:
    def __init__(a,name,surname,birth_year):
        a.name=name
        a.surname=surname
        a.birth_year=birth_year
    
    def age(a,current_year):
        return current_year - a.birth_year
    
    def __str__(a):
        return "name - %s, surname- %s, born in %d ."%(a.name,a.surname,a.birth_year)

    
p=person1('samma','sam',1999)
p

In [40]:
print(p)

name - samma, surname- sam, born in 1999 .

In [41]:
p.age(2020)   # caling age function from person class

21

In [43]:
p.name
p.surname

'sam'

In [44]:
# poniter can vary inside class like (a or b or anything )

class person1:
    def __init__(a,name,surname,birth_year):
        a.name=name
        a.surname=surname
        a.birth_year=birth_year
    
    def age(a,current_year):
        return current_year - a.birth_year
    
    def concatelist(b,list1,list2):
        return list1+list2
    
    def __str__(a):
        return "name - %s, surname- %s, born in %d ."%(a.name,a.surname,a.birth_year)

    
p=person1('samma','sam',1999)

In [45]:
p.concatelist([1,2,3,3],[5,6,8,9])

[1, 2, 3, 3, 5, 6, 8, 9]

# multiple __init__ method

In [46]:
class person1:
    def __init__(a,name):
        a.name=name
        
    def __init__(a,name,surname):
        a.name=name
        a.surname=surname
        
    def __init__(a,name,surname,birth_year):
        a.name=name
        a.surname=surname
        a.birth_year=birth_year
    

    
    def __str__(a):
        return "name - %s, surname- %s, born in %d ."%(a.name,a.surname,a.birth_year)

In [48]:
p=person1('samma')

TypeError: __init__() missing 2 required positional arguments: 'surname' and 'birth_year'

u can use multiple __init__ method . But it always considers last __init__ method by default. u can't change it .

In [70]:
# it is possible without __init__
#Bad practyise
class Person:
  
    def set_name(self, name):
        self.name = name
        
    def set_surname(self, surname):
        self.surname = surname
        
    def set_year_of_birth(self, year_of_birth):
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." \
                % (self.name, self.surname, self.year_of_birth)

In [71]:
p = Person()
# This code will raise an attribute error:
print(p.name)

AttributeError: 'Person' object has no attribute 'name'

In [72]:
p.set_name('John')
p.set_surname('Doe')
p.set_year_of_birth(1940)

In [73]:
print('Mr', p.name, p.surname,
      'is the president, and he is very old. He is',
      p.age(2014))

Mr John Doe is the president, and he is very old. He is 74

In [74]:
p.name

'John'