In [10]:
i=10
if i<5:
    print('valid')
elif i==10:
    print('equal')
else:
    print('none')

equal

In [12]:
i=10
s="samma"
if i==10:
    if type(s)==str:
        print("this is my name")
    else:
        print("this is default function")
else:
    print("for outer if block")

this is my name

# list operation in advance

In [13]:
l=[3,4,5,6,"samma","rahmna","abs"]
l

[3, 4, 5, 6, 'samma', 'rahmna', 'abs']

In [14]:
l[::2] #take all after jump 2

[3, 5, 'samma', 'abs']

In [15]:
for i in l:
    print(i)

3
4
5
6
samma
rahmna
abs

In [18]:
m = []
for i in l:
    if type(i)==int: #take only those whose type in integer
        m.append(i)

In [19]:
m

[3, 4, 5, 6]

In [22]:
m = []
for i in l:
    if type(i)==int: #take only those whose type in integer
        m.append(i/10)
        
m

[0.3, 0.4, 0.5, 0.6]

In [27]:
m = []
for i in l:
    if type(i)==int:#take only those whose type in integer
        m.append(i)
sum(m)

18

for i in l:
    if type(i)==int:
        m=m+i
print(m)

In [28]:
for i in "samma":
    print(i)

s
a
m
m
a

In [30]:
#if the "for loop" is completed fully, then else stat will execute
#otherwise not

l=[4,5,6,6]
for i in l:
    print(i)
else:
    print("this is the else block")

4
5
6
6
this is the else block

In [31]:
# here for loop is not completed fully ,so else stat will not executed

l=[4,5,6,6]
for i in l:
    if i==6:
        break
    print(i)
else:
    print("this is the else block")

4
5

# Continuous statement

In [35]:
s="samma rahman"
for i in s:
    if i=='r':
        continue
    print(i)

s
a
m
m
a

a
h
m
a
n

In [36]:
range(6)

range(0, 6)

In [37]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [38]:
list(range(4,9)) #upper bound is 9 & lower bound is 4

[4, 5, 6, 7, 8]

In [40]:
list(range(4,9,2)) # here the step size is 2

[4, 6, 8]

In [41]:
list(range(4,9,2.0)) # it will show error bcz "range" not allow float

TypeError: 'float' object cannot be interpreted as an integer

In [42]:
l= [5,6,2,4,7,4,9,"samma","kumaar"]
len(l)

9

In [43]:
for i in range(len(l)):
    print(l[i])

5
6
2
4
7
4
9
samma
kumaar

# input function

In [44]:
input()    # input will always give u string by default ,so need type casting

akbwuf472

'akbwuf472'

In [49]:
a=int(input("take my name & age"))  #type casting
type(a)

take my name & age23415

int

In [50]:
# concatenation -> data should be in same type
"sudh"+"rahamn"

'sudhrahamn'

In [51]:
"sudh"+ str(9)  #typecasting for int

'sudh9'

In [52]:
# concatenate two list
l=[4,5,6,7]
l1=[10,34,68,45]
l+l1

[4, 5, 6, 7, 10, 34, 68, 45]

In [56]:
"samma's"+" "+" "+ "or"+" "+ 'sammaaa"s'

'samma\'s  or sammaaa"s'

In [57]:
#multiple liine comment
"""jcsbjvb
cmwrvnrb
mrevo3og
cmoinvn"""

'jcsbjvb\ncmwrvnrb\nmrevo3og\ncmoinvn'

In [2]:
s="Hello World samma rahman"
u=s.upper()
l=s.lower()
sp=s.split() # separate data based on whitespace
s1=s.split('o') #given delimeter is 'o' /separate operator
s1

['Hell', ' W', 'rld samma rahman']

# Format function

In [64]:
"my name is {}. my age is {}".format("samma",827)

'my name is samma. my age is 827'

In [65]:
s="hello world"
s.find('w')

6

In [66]:
s.find('l') #find the only first location of l

2

In [75]:
s="hello world"
l

'hello world'

In [22]:
s= 'hello world'
l=[]
l1=[]
for i in range(len(s)):
    if s[i]=='o':
        l.append(i)
        l1.append(s[i])
print(l, l1, sep='\n')

[4, 7]
['o', 'o']

In [5]:
s

'Hello World samma rahman'

In [81]:
s.center(40,'v')

'vvvvvvvvvvvvvvhello worldvvvvvvvvvvvvvvv'

In [82]:
'hello\tworld'.expandtabs()

'hello   world'

In [99]:
s="  Hello "
s.isalnum()  #is alpha numeric

False

In [95]:
s.isalpha()

False

In [96]:
s.isnumeric()

False

In [97]:
s.isupper()

False

In [100]:
s.isspace()

False

In [102]:
s.istitle() # if the first letter is upper case then it is title

True

In [103]:
"samma"*3

'sammasammasamma'

In [104]:
[5,7,3]*4   #list multiplication function

[5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7, 3]

In [116]:
l=[2,36,8,6,"asfj"]  #append in last position
l.append("sama")
l

[2, 36, 8, 6, 'asfj', 'sama']

In [108]:
l.insert(2,"xys")  # insert element in specific position
l

[2, 36, 'xys', 8, 6, 'asfj', 'sama']

In [109]:
l.pop()  # pop the last element

'sama'

In [111]:
l.pop(3) # pop 3rd element
l

[2, 36, 'xys', 'asfj']

In [113]:
l[::-1] # not parmanent reverse

['sama', 'asfj', 6, 8, 36, 2]

In [115]:
l.reverse()   #permanently reverse the strings
l

[2, 36, 8, 6, 'asfj', 'sama']

In [119]:
l=[4,6,89,42,25,7,94,6]
l.sort()
l

[4, 6, 6, 7, 25, 42, 89, 94]

In [120]:
s1=["sam","kum","efg"]
s1.sort()
s1

['efg', 'kum', 'sam']

In [122]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[3,6,9,2]
l=[l1,l2,l3]

In [123]:
n=[]    # print elemnt of 2nd element
for i in l:
    n.append([i[2]])
n

[[3], [7], [9]]

In [124]:
#same result n one line
[i[2] for i in l]     #list comphrension

[3, 7, 9]

In [126]:
l=[4,5,6,7,8]
l.append([3,6,4])
l

[4, 5, 6, 7, 8, [3, 6, 4]]

In [128]:
l.extend([3,6,4])
l

[4, 5, 6, 7, 8, [3, 6, 4], 3, 6, 4, 3, 6, 4]

In [135]:
#problem statement:
l=[5,4,2,5,6,3,1,4,5,4,4,4,4,4,4,6,7]

In [133]:
l=[i for i in l if i !=4]
l

[5, 5, 6, 3, 1, 5, 6, 7]

In [134]:
while 2 in l:
    l.remove(2)

In [137]:
#remove 4:
i=0
while i<len(l):
    if l[i]== 4:
        l.remove(4)
        i-=1

    if type(l[i]) == list:
        j=0
        while j<len(l[i]):
            if l[i][j] == 4:
                l[i].remove(4)
                j-=1
            j=j+1
    i += 1
print(l)

[5, 5, 6, 3, 1, 5, 6, 7]