# Funtion use

In [ ]:
def test(a,b=1):   #we can predefined the value of argument
    return a+b

In [3]:
test(5)    #need 1 argument

6

In [4]:
test(5,4)    # value of b can be overwritten

9

In [5]:
def test1(m,n,m,i,p):   #arguments must be unique
    return m+n

SyntaxError: duplicate argument 'm' in function definition (<ipython-input-5-8f4d6de3057e>, line 4)

In [9]:
def modifylist(a):
    l=[]
    if type(a)==list:
        for i in a:
            l.append(i+4)
    else:
        print('input is not a list')
    return l

In [7]:
modifylist([1,4,5,6])

[5, 8, 9, 10]

In [11]:
modifylist('samma')

input is not a list

[]

In [12]:
modifylist(['sam','hello','syesk'])   #can't do with string

TypeError: can only concatenate str (not "int") to str

In [16]:
#placeholder type

def greetings(name):
    print('hello %s'%name)

In [18]:
greetings('samma')

hello samma

In [22]:
def g(num):
    print('it is an integer: %d'%num)

In [23]:
g(897)

it is an integer: 897

In [52]:
#if else 

def prime(num):
    for i in range(2,num):
        if num % i ==0 :
            print('divisible by %d : It is not prime'%i)
            break
        else:
            print('not divisible : Its a prime')
            break

In [53]:
prime(10)

divisible by 2 : It is not prime

In [54]:
prime(13)

not divisible : Its a prime

In [56]:
prime(57)

not divisible : Its a prime

In [60]:
#for else

def prime1(num):
    for i in range(2,num):
        if num % i ==0 :
            print('divisible by %d : It is not prime'%i)
            break
    else:
        print('not divisible : Its a prime')

In [61]:
prime1(57)

divisible by 3 : It is not prime

In [62]:
prime(6)

divisible by 2 : It is not prime

In [63]:
prime1(2)

not divisible : Its a prime

In [66]:
prime1(77773345297)

divisible by 19 : It is not prime

In [74]:
#similar problem in different way(optimized)

import math
def is_prime(num):
    if num % 2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num % i==0:
            return False
    return True

In [75]:
is_prime(13)

True

# Iterators & generators

In [76]:
range(8)

range(0, 8)

In [77]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [80]:
def gencubes(n):
    for i in range(n):
        print(i**3)

In [81]:
gencubes(5)

0
1
8
27
64

In [84]:
def gencubes(n):
    for i in range(n):
        yield(i**3)   #bhv like a generator object

In [85]:
gencubes(5)

In [86]:
list(gencubes(5))

[0, 1, 8, 27, 64]

In [87]:
for i in 'sbdjhfvj':
    print(i)

s
b
d
j
h
f
v
j

In [88]:
next('hcbjdhvf')   #string is iterable but not iterator object

TypeError: 'str' object is not an iterator

In [89]:
iter(34)  #int is not iterable

TypeError: 'int' object is not iterable

In [90]:
iter('jhjfhvj')   #no complain

In [91]:
next(34)  #not iterator

TypeError: 'int' object is not an iterator

In [92]:
s='sudh'

In [93]:
next(s)  #not iterator so can't extract data from string

TypeError: 'str' object is not an iterator

In [104]:
c=iter(s)

In [105]:
next(c)

's'

In [106]:
next(c)

'u'

In [107]:
next(c)

'd'

In [108]:
next(c)

'h'

In [109]:
next(c)

StopIteration:

In [112]:
#if data has iterable property ,
#thn it can be converted into iterator
#using iter() function


#like string is iterable but not iterator 
#but canbe converted into iterator using iter as shown bfr 

#int is not iterable so, cannot be converted

#list is iterable not iterator

In [118]:
s=[2,4,56,6]   #list
c=iter(s)

In [119]:
next(c)

2

In [120]:
next(c)

4

In [121]:
next(c)

56

In [122]:
next(c)

6

In [123]:
next(c)

StopIteration:

In [127]:
a=gencubes(5)

In [128]:
next(a)

0

In [129]:
next(a)

1

In [130]:
next(a)

8

In [131]:
next(a)

27

In [132]:
next(a)

64

In [133]:
next(a)

StopIteration:

In [142]:
#fibonacci number

def genfiboncci(n):
    a=1
    b=1
    for i in range(n):
        yield a     #store data which is shown
        a,b=b,a+b
        #print(a,b)

In [143]:
list(genfiboncci(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [144]:
list(genfiboncci(15))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [147]:
#fibonacci number (same in diff way)

def gen_fiboncci(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output

In [148]:
gen_fiboncci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# MAP function

In [ ]:
#map data with functions

In [163]:
def farenheight(T):
    return (float(9/5)*T+32)

def celcius(T):
    return (float(5/9)*(T-32))

Temp=[0,22.5,40,100]

f=[]
c=[]
for i in Temp:
    f.append(farenheight(i))
    c.append(celcius(i))

print(f)
print(c)

[32.0, 72.5, 104.0, 212.0]
[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [164]:
# map takes iterable object must
# mapping of function and data

In [166]:
T=[0,22.5,40,100]
F_maps=list(map(farenheight,T))
F_maps

[32.0, 72.5, 104.0, 212.0]

In [167]:
l=[2,3,4,5]

def cube(n):
    return n**3

list(map(cube,l))

[8, 27, 64, 125]

In [169]:
list(map(lambda x:x**3,l))

[8, 27, 64, 125]

In [170]:
a=[1,2,3,4]
b=[3,4,5,6]
c=[4,5,6,7,4,5,6,7]

def sum(x,y,z):
    return x+y+z

list(map(sum,a,b,c))

[8, 11, 14, 17]

In [171]:
list(map(lambda x,y,z:x+y+z,a,b,c))

[8, 11, 14, 17]

In [1]:
l=['samma','rahman']

def convert(n):
    return n.upper()

list(map(convert,l))

['SAMMA', 'RAHMAN']

In [2]:
l=['samma','rahman']

list(map(lambda x:x.upper(),l))

['SAMMA', 'RAHMAN']

In [30]:
list(map(lambda x:x**3,[2,3,4,5]))

[8, 27, 64, 125]

In [31]:
a='samma'
b='ragksj'

list(map(lambda x,y:x+''+y,a,b))

['sr', 'aa', 'mg', 'mk', 'as']

In [35]:
a=['samma','dhbdjvh']
b=['ragksj','k vjfjv']

list(map(lambda x,y:x+' '+y,a,b))

['samma ragksj', 'dhbdjvh k vjfjv']

****lambda function is an anonomous function(without name function)
****Map function performs row wise operations
****

# Reduce

*****to aggregate or concatenate functions
*****aggregation operations

In [3]:
def sum(x,y):
    return x+y

from functools import reduce
l=[2,3,4,5,6]

reduce(sum,l)

20

In [175]:
from functools import reduce
l=['sam',' ','shdh',' ','jshdjfv']

reduce(sum,l)

'sam shdh jshdjfv'

In [5]:
#find the maximum of squence using lambda

max_find=lambda x,y:x if x>y else y

from functools import reduce
l=[22,45,30,78]
reduce(max_find,l)

78

# Filter

In [6]:
def even_check(x):
    if x%2 ==0:
        return True

In [7]:
l = range(20)
list(filter(even_check,l))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
#customized one
l=[1,23,44,77,34,29,90,67,56]
list(filter(even_check,l))

[44, 34, 90, 56]

In [37]:
#filter raw function 
l=[1,23,44,77,34,29,90,67,56]

def even1(func,l):
    k=[]
    for i in l:
        f=func(i)
        if f==True:
            k.append(i)        
    return k

In [38]:
even1(even_check,l)

[44, 34, 90, 56]