# Panda

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('course code/panda/examples/ex6.csv')
df.head(6)
## it shows 6 data,but read the whole data & store in memory

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q

In [14]:
df=pd.read_csv('course code/panda/examples/ex6.csv',nrows=6)
df

## it shows & reads 6 data,but not read the whole data

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q

In [15]:
pd.options.display.max_rows = 6
df=pd.read_csv('course code/panda/examples/ex6.csv')
df

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
...        ...       ...       ...       ...  ..
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [16]:
chunk = pd.read_csv('course code/panda/examples/ex6.csv', chunksize=1000)
chunk

In [17]:
data=pd.read_csv('course code/panda/examples/ex5.csv')
d.to_csv('course code/panda/examples/written/output.csv')  # write in file

In [18]:
d.to_csv('course code/panda/examples/written/output1.csv',sep='@') # separate by @

In [19]:
import sys
d.to_csv(sys.stdout, na_rep='NULL') ### replace the nan value

,labels
0,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}]"
1,[]
2,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc2NDk3Nzc=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Info', 'name': 'Needs Info', 'color': '207de5', 'default': False, 'description': 'Clarification about behavior needed to assess issue'}]"
3,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}]"
4,[]
5,[]
6,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement', 'name': 'Enhancement', 'color': '4E9A06', 'default': False, 'description': None}, {'id': 49182326, 'node_id': 'MDU6TGFiZWw0OTE4MjMyNg==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Sparse', 'name': 'Sparse', 'color': '009800', 'default': False, 'description': 'Sparse Data Type'}, {'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4NDA=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Timeseries', 'name': 'Timeseries', 'color': 'AFEEEE', 'default': False, 'description': None}]"
7,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OTk=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs', 'name': 'Docs', 'color': '3465A4', 'default': False, 'description': None}, {'id': 717120670, 'node_id': 'MDU6TGFiZWw3MTcxMjA2NzA=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/good%20first%20issue', 'name': 'good first issue', 'color': '0e8a16', 'default': True, 'description': None}]"
8,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply', 'name': 'Apply', 'color': 'fbca04', 'default': False, 'description': 'Apply, Aggregate, Transform'}, {'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNjA=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby', 'name': 'Groupby', 'color': '729FCF', 'default': False, 'description': None}, {'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1MzEx', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance', 'name': 'Performance', 'color': 'a10c02', 'default': False, 'description': 'Memory or execution speed performance'}]"
9,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1NDI3Mw==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Excel', 'name': 'IO Excel', 'color': 'bfe5bf', 'default': False, 'description': 'read_excel, to_excel'}]"
10,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI', 'name': 'CI', 'color': 'a2bca7', 'default': False, 'description': 'Related to Continuous Integration'}, {'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2ODU=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing', 'name': 'Testing', 'color': 'C4A000', 'default': False, 'description': 'Custom testing functions or related to the test suite'}]"
11,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI', 'name': 'CI', 'color': 'a2bca7', 'default': False, 'description': 'Related to Continuous Integration'}]"
12,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1NDI3Mw==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Excel', 'name': 'IO Excel', 'color': 'bfe5bf', 'default': False, 'description': 'read_excel, to_excel'}, {'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression', 'name': 'Regression', 'color': 'e11d21', 'default': False, 'description': 'Functionality that used to work in a prior pandas version'}]"
13,[]
14,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDkwMjM2OTM=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ExtensionArray', 'name': 'ExtensionArray', 'color': '6138b5', 'default': False, 'description': 'Extending pandas with custom dtypes or arrays.'}, {'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2ODU=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing', 'name': 'Testing', 'color': 'C4A000', 'default': False, 'description': 'Custom testing functions or related to the test suite'}]"
15,[]
16,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyMDk4', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Indexing', 'name': 'Indexing', 'color': '0b02e1', 'default': False, 'description': 'Related to indexing on series/frames, not to indexes themselves'}, {'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression', 'name': 'Regression', 'color': 'e11d21', 'default': False, 'description': 'Functionality that used to work in a prior pandas version'}]"
17,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2ODE=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor', 'name': 'Refactor', 'color': 'FCE94F', 'default': False, 'description': 'Internal refactoring of code'}, {'id': 1045950827, 'node_id': 'MDU6TGFiZWwxMDQ1OTUwODI3', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Window', 'name': 'Window', 'color': 'd4c5f9', 'default': False, 'description': 'rolling, ewma, expanding'}]"
18,"[{'id': 1465286368, 'node_id': 'MDU6TGFiZWwxNDY1Mjg2MzY4', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Constructors', 'name': 'Constructors', 'color': 'd4c5f9', 'default': False, 'description': 'Series/DataFrame/Index/pd.array Constructors'}, {'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3MDk2NQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Error%20Reporting', 'name': 'Error Reporting', 'color': 'ffa0ff', 'default': False, 'description': 'Incorrect or improved errors from pandas'}, {'id': 1357732944, 'node_id': 'MDU6TGFiZWwxMzU3NzMyOTQ0', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Series', 'name': 'Series', 'color': '8dd5fc', 'default': False, 'description': 'Series data structure'}]"
19,[]
20,[]
21,[]
22,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}]"
23,[]
24,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc2NDk3Nzc=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Info', 'name': 'Needs Info', 'color': '207de5', 'default': False, 'description': 'Clarification about behavior needed to assess issue'}, {'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}]"
25,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUyNzM1Ng==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical', 'name': 'Categorical', 'color': 'e11d21', 'default': False, 'description': 'Categorical Data Type'}, {'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression', 'name': 'Regression', 'color': 'e11d21', 'default': False, 'description': 'Functionality that used to work in a prior pandas version'}]"
26,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5NDQ1OQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Internals', 'name': 'Internals', 'color': 'fbca04', 'default': False, 'description': 'Related to non-user accessible pandas implementation'}]"
27,"[{'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}, {'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0NDUzNg==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Usage%20Question', 'name': 'Usage Question', 'color': '0052cc', 'default': False, 'description': None}]"
28,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgxODI5OA==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design', 'name': 'API Design', 'color': 'AD7FA8', 'default': False, 'description': None}, {'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply', 'name': 'Apply', 'color': 'fbca04', 'default': False, 'description': 'Apply, Aggregate, Transform'}, {'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement', 'name': 'Enhancement', 'color': '4E9A06', 'default': False, 'description': None}, {'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNjA=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby', 'name': 'Groupby', 'color': '729FCF', 'default': False, 'description': None}, {'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk5NjA3NTg=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Discussion', 'name': 'Needs Discussion', 'color': '207de5', 'default': False, 'description': None}]"
29,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgxODI5OA==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design', 'name': 'API Design', 'color': 'AD7FA8', 'default': False, 'description': None}, {'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk5NjA3NTg=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Discussion', 'name': 'Needs Discussion', 'color': '207de5', 'default': False, 'description': None}]"

In [20]:
# remove the index & header
d.to_csv('course code/panda/examples/written/out1.csv',index=False,header=False)

In [21]:
# remove index & header included
d.to_csv('course code/panda/examples/written/out2.csv',index=False,header=True)

In [22]:
# customized column names
d.to_csv('course code/panda/examples/written/out3.csv',index=False,columns=['a','b','c'])

KeyError: "None of [Index(['a', 'b', 'c'], dtype='object')] are in the [columns]"

In [23]:
dates = pd.date_range('1/1/2000', periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [24]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [25]:
import numpy as np
ts = pd.Series(np.arange(10))
ts

0    0
1    1
2    2
    ..
7    7
8    8
9    9
Length: 10, dtype: int32

In [26]:
ts = pd.Series(np.arange(7), index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
             ..
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, Length: 7, dtype: int32

In [27]:
ts = pd.Series(np.arange(3), index=['w','e','h'])
ts

w    0
e    1
h    2
dtype: int32

In [28]:
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('course code/panda/examples/written/tseries.csv')
!course code/panda/examples/written/tseries.csv

In [30]:
#Working with Delimited Formats

import csv
f = open('course code/panda/examples/ex7.csv')

reader = csv.reader(f)
reader

In [31]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [32]:
#another method

with open('course code/panda/examples/ex7.csv') as f:
    lines =list(csv.reader(f))
    
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [33]:
a=1
b='sudh'
c=89

In [34]:
a,b,c=1,'sudh',89
a

1

In [35]:
header,values=lines[0],lines[1:]
header

['a', 'b', 'c']

In [36]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [37]:
zip(values)

In [38]:
list(zip(values))

[(['1', '2', '3'],), (['1', '2', '3'],)]

In [39]:
list(zip(*values))

[('1', '1'), ('2', '2'), ('3', '3')]

In [40]:
list(zip(header,zip(*values)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [41]:
list(zip(*header,zip(*values)))

[('a', 'b', 'c', ('1', '1'))]

In [42]:
# dict comprehension

data_dict= {h: v for h,v in list(zip(header,zip(*values))) }
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [43]:
l1=[1,2,7,8]
l2=[89,67,45,23]
zip(l1,l2)

In [44]:
list(zip(l1,l2))

[(1, 89), (2, 67), (7, 45), (8, 23)]

In [45]:
{k : v for k,v in zip(l1,l2)}

{1: 89, 2: 67, 7: 45, 8: 23}

# JSON DATA

In [46]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
type(obj)

str

In [47]:
import json
res=json.loads(obj)  # str -> dict
res

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [48]:
type(res)

dict

In [49]:
as_json =json.dumps(res)   #  dict -> str
as_json

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [50]:
type(as_json)

str

In [51]:
sibl=res['siblings']
sibl

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [52]:
s=pd.DataFrame(res['siblings'])
s

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [53]:
a=pd.DataFrame(res['siblings'][i])
a

IndexError: list index out of range

In [54]:
a=[]
for i in range(2):
    a.append(pd.DataFrame(res['siblings'][i]))
a

[    name  age  pets
 0  Scott   30  Zeus
 1  Scott   30  Zuko,
     name  age    pets
 0  Katie   38   Sixes
 1  Katie   38  Stache
 2  Katie   38   Cisco]

In [55]:
j=pd.read_json('course code/panda/examples/example.json')
j

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [56]:
j.to_json('course code/panda/examples/written/outjson.csv')

In [57]:
print(data.to_json())

{"something":{"0":"one","1":"two","2":"three"},"a":{"0":1,"1":5,"2":9},"b":{"0":2,"1":6,"2":10},"c":{"0":3.0,"1":null,"2":11.0},"d":{"0":4,"1":8,"2":12},"message":{"0":null,"1":"world","2":"foo"}}

In [58]:
print(data.to_json(orient='records'))

[{"something":"one","a":1,"b":2,"c":3.0,"d":4,"message":null},{"something":"two","a":5,"b":6,"c":null,"d":8,"message":"world"},{"something":"three","a":9,"b":10,"c":11.0,"d":12,"message":"foo"}]

In [59]:
table=pd.read_html('course code/panda/examples/fdic_failed_bank_list.html')
len(table)

1

In [60]:
table[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
...,...,...,...,...,...,...,...
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

# Binary data format
 .h5\
.sav\
.opb

# .pickle 

@@@ pickle file uses binary data format\
@@@ serde operation\
@@@ used in machine learning model\


@@@ when converting any file to pickle (serde)\
    it just converts the object --> bytecode  : called serialization\
                        object  <--  bytecode  : called deserialization

In [61]:
frame=pd.read_csv('course code/panda/examples/ex1.csv')
frame.to_pickle('course code/panda/examples/written/outpickle')

In [62]:
pd.read_pickle('course code/panda/examples/written/outpickle')

# which can't be read by opening file

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [63]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#  .HDF5

In [64]:
frame = pd.DataFrame({'a': np.random.randn(100)})
frame

           a
0   2.368176
1   0.464200
2   0.035809
..       ...
97  0.928446
98 -0.947543
99 -1.607687

[100 rows x 1 columns]

In [65]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('course code/panda/examples/mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: course code/panda/examples/mydata.h5

In [66]:
store['obj1_col']

0    -0.489129
1    -0.358680
2    -0.255518
        ...
97   -0.045115
98    0.462970
99    0.924877
Name: a, Length: 100, dtype: float64

In [67]:
store['obj1']

           a
0  -0.489129
1  -0.358680
2  -0.255518
..       ...
97 -0.045115
98  0.462970
99  0.924877

[100 rows x 1 columns]

# web api

api is nothing but a connectivity between two homogeneous or heterogeneous system to take request & give response from server to client,client to server,server to server.

In [68]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [69]:
type(resp)

requests.models.Response

In [70]:
data=resp.json()
len(data)

30

In [71]:
data[0]['title']

'BUG: df.replace() '

In [72]:
data[0]['user']['id']

29553646

In [73]:
# print all the id from json file
l=[]
for i in range(len(data)):
    l.append(data[i]['user']['id'])
l

[29553646,
 5473606,
 2793551,
 57095103,
 13159005,
 5585221,
 9756388,
 1336287,
 10647082,
 6618166,
 16733618,
 16733618,
 1446633,
 48889395,
 2658661,
 8078968,
 9061708,
 8078968,
 5473606,
 6618166,
 44933366,
 8078968,
 18377550,
 6618166,
 60599856,
 18410378,
 8078968,
 50276689,
 45562402,
 4810902]

In [74]:
issue=pd.DataFrame(data,columns=['number','title','labels','state'])
issue

,number,title,labels,state
0,35771,BUG: df.replace(),"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,35769,BUG: Raise ValueError instead of bare Exceptio...,[],open
2,35768,ExtensionBlock.take_nd crashes in 1.1.0,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
...,...,...,...,...
27,35727,"QST: Any support for df[""x""] = y where y.colum...","[{'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOT...",open
28,35725,ENH: groupby(...).agg should only accept reducers,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
29,35724,"QST: ""Dummy"" is rooted in ableist language","[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open

In [75]:
# allow the rows u want
pd.options.display.max_rows=10

# @@@ Task in class @@@

Extract the nested dict element from the json file

In [76]:
                            #######    1 way       ##################


import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp
data=resp.json()
modified=pd.DataFrame(columns=['id','node_id','url','name','color','default','description'])
for i in range(30):
    issue=pd.DataFrame(data[i]['labels'],columns=['id','node_id','url','name','color','default','description'])
    modified=modified.append(issue,ignore_index=True)
modified

,id,node_id,url,name,color,default,description
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
2,307649777,MDU6TGFiZWwzMDc2NDk3Nzc=,https://api.github.com/repos/pandas-dev/pandas...,Needs Info,207de5,False,Clarification about behavior needed to assess ...
3,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
4,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
...,...,...,...,...,...,...,...
43,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
44,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False,None
45,219960758,MDU6TGFiZWwyMTk5NjA3NTg=,https://api.github.com/repos/pandas-dev/pandas...,Needs Discussion,207de5,False,None
46,35818298,MDU6TGFiZWwzNTgxODI5OA==,https://api.github.com/repos/pandas-dev/pandas...,API Design,AD7FA8,False,None
47,219960758,MDU6TGFiZWwyMTk5NjA3NTg=,https://api.github.com/repos/pandas-dev/pandas...,Needs Discussion,207de5,False,None

In [1]:
            #########     2 way     ##########    
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
data=resp.json()
d=pd.DataFrame(data,columns=['labels'])
x=[]
for i in range(len(d)):
    if len(d['labels'][i])==0:
        y={'id':'',
       'node_id':'',
       'url':'',
       'name':'',
       'color':'',
       'default':'',
       'description':''}
        x.append(y)    
    elif len(d['labels'][i]) !=0:
        for j in range(len(d['labels'][i])):
            x.append(d['labels'][i][j])
pd.DataFrame(x)

IndentationError: expected an indented block (<ipython-input-1-a240365544da>, line 20)

In [1]:
###############   3 way   ########################
import pandas as pd
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
data=resp.json()
d=pd.DataFrame(data,columns=['labels','user'])
d.head(5)

#split keys & values in column
import json
from pandas.io.json import json_normalize

user_data = json_normalize(d['user'])
user_data.head(3)

#concatenate both dataset to display all column
d1=pd.concat([data[:],user_data[:]],axis=1)

#display 5 row
d1.head(5)

# not selecting user column since split
d2=pd.concat([data[['number','title','state']],user_data[:]],axis=1)
d2.head(5)

C:\Users\damrs\anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid