# list overview

how tuples are different from list

In [6]:
l=[]
type(l)

list

In [7]:
l1=list()
type(l1)

list

In [8]:
l1=list('sudh')
l1

['s', 'u', 'd', 'h']

In [9]:
l1=list(['sudh'])
l1

['sudh']

In [10]:
l1=list('24')
l1

['2', '4']

In [11]:
l1=list(34)
l1

TypeError: 'int' object is not iterable

In [12]:
l1=[2,3,4,5]
l1[0]

2

In [13]:
l1=[2,3,4,5]
l1[0]='askbjdvh'
l1

['askbjdvh', 3, 4, 5]

# Tuple

In [15]:
c=()
type(c)

tuple

In [17]:
c=(2,3,57,67,'sndbfj','bfjhfb')
type(c)

tuple

In [18]:
c[0]

2

In [19]:
c[0:5]

(2, 3, 57, 67, 'sndbfj')

In [20]:
c[::-1]

('bfjhfb', 'sndbfj', 67, 57, 3, 2)

In [21]:
c[::2]

(2, 57, 'sndbfj')

In [23]:
c[0]='samma'  #show error (can't be done) immutable property

TypeError: 'tuple' object does not support item assignment

In [24]:
for i in c:
    print(i)

2
3
57
67
sndbfj
bfjhfb

In [25]:
# tuple  has only 2 inbuilt function
#list has many

In [27]:
c.count()

In [28]:
c.index(57)

2

In [30]:
a=4,5,7,3,2
type(a)

tuple

In [31]:
a[2]

7

In [35]:
a,b,c=4,6,8
a

8

In [36]:
b

6

In [37]:
c

8

In [38]:
t=((3,4,6),(3,6,9,6))
t

((3, 4, 6), (3, 6, 9, 6))

In [39]:
t[0]

(3, 4, 6)

In [41]:
l=[(36,4,3)]   #tuple inside  list

In [42]:
l[0]

(36, 4, 3)

In [43]:
l[0][2]

3

In [45]:
b=([2,4,5])    #list inside tuple
b[0]

2

In [47]:
b=([2,4,5,6],[34,5,7,4])
type(b)

tuple

In [49]:
c=(4,5,6,7)      # list to tuple conversion
l=list(c)
l

[4, 5, 6, 7]

In [51]:
l[2]='samma'
l

[4, 5, 'samma', 7]

In [52]:
tuple(l)

(4, 5, 'samma', 7)

# Sets

In [54]:
s={}
type(s)

dict

In [56]:
x = set()
type(x)

set

In [58]:
x.add(3)
x

{3}

In [60]:
s={3.4,5,3,3,5,6,4,5,'dbfjh','kfgb',5,5,5,3,3,3,333,5555,6666}
s    #remove automatically duplicate data

{3, 3.4, 333, 4, 5, 5555, 6, 6666, 'dbfjh', 'kfgb'}

In [64]:
l=[2,4,5,6,77,4,3,32,2,2,2,2,5]
s=set(l)
s

{2, 3, 4, 5, 6, 32, 77}

In [68]:
l=[[4,5,6],[4,5,6]]
s=set(l)     #can't allow in multiple list in set

TypeError: unhashable type: 'list'

In [69]:
x={2,3,5,7,5,3}
x

{2, 3, 5, 7}

In [70]:
x[0]   #cant do it

TypeError: 'set' object is not subscriptable

In [71]:
for i in x:
    print(i)

2
3
5
7

In [77]:
x.add('svhdg')
x

{4, 'svhdg'}

In [75]:
x.clear()
x

set()

In [78]:
x.add(4)
x

{4, 'svhdg'}

In [79]:
x={2,4,5,6,4,3}
l=list(x)

[2, 3, 4, 5, 6]

In [85]:
set(l)

TypeError: unhashable type: 'list'

In [84]:
n={123,454,14,34,23,2,45,45,3,345,67,678,72,2,3143,1434}
n

{2, 3, 14, 23, 34, 45, 67, 72, 123, 345, 454, 678, 1434, 3143}

# Dictionary

In [86]:
v={}
type(v)

dict

In [87]:
v={'key':'sdfn'}
v[0]

KeyError: 0

In [88]:
v['key']

'sdfn'

In [89]:
v={'k1':'hi','k2':'hlw','k3':'jdbjvdh'}
v

{'k1': 'hi', 'k2': 'hlw', 'k3': 'jdbjvdh'}

In [90]:
v['k3']

'jdbjvdh'

In [95]:
v={0:'abss',3:'kdjbdjh'}
v[3]

'kdjbdjh'

In [93]:
#list is not allowed as key but allowed for key value
#not allowed special character(:,!,@)

In [96]:
v={'a':'jfbd','b':'werfd','c':[3,5,7,33]}
v

{'a': 'jfbd', 'b': 'werfd', 'c': [3, 5, 7, 33]}

In [97]:
v={'a':'jfbd','b':'werfd','a':[3,5,7,33]}
v      # if same key ,thn overwrite the value

{'a': [3, 5, 7, 33], 'b': 'werfd'}

In [98]:
v['a']

[3, 5, 7, 33]

In [99]:
v['a'][2]

7

In [100]:
# as a value , list ,set,dict allowed but have restriction for key

In [119]:
v={'a':'jfbd','b':'werfd','a':[3,5,7,33],'c':{0:45,1:90}}
v['c'] #dict under dict

{0: 45, 1: 90}

In [102]:
v['c'][0]

45

In [106]:
for i in v:
    print(i)

a
b
c

In [107]:
for i in v:
    print(i+' '+str(v[i]))

a [3, 5, 7, 33]
b werfd
c {0: 45, 1: 90}

In [108]:
v.keys()

dict_keys(['a', 'b', 'c'])

In [109]:
v.values()

dict_values([[3, 5, 7, 33], 'werfd', {0: 45, 1: 90}])

In [110]:
#boolean ,integer,string are allowed as key

In [113]:
v['k4']='skbfjd'    # insert new key 
v

{'a': [3, 5, 7, 33], 'b': 'werfd', 'c': {0: 45, 1: 90}, 'k4': 'skbfjd'}

In [114]:
v['b']='samma'    #update value in previous keys
v

{'a': [3, 5, 7, 33], 'b': 'samma', 'c': {0: 45, 1: 90}, 'k4': 'skbfjd'}

In [115]:
v={'k1':{'nestk1':{'subnested': 'value'}}}
v['k1']

{'nestk1': {'subnested': 'value'}}

In [116]:
v['k1']['nestk1']

{'subnested': 'value'}

In [118]:
v['k1']['nestk1']['subnested']

'value'

In [120]:
v.items()

dict_items([('a', [3, 5, 7, 33]), ('b', 'werfd'), ('c', {0: 45, 1: 90})])

# dict comprehensions

In [126]:
l=['sudh','kuar','abc','xyz']
l

['sudh', 'kuar', 3, 5, 22, 'abc', 'xyz', 2, 4, 6, 73]

In [122]:
{i[0]:i for i in l}

{'s': 'sudh', 'k': 'kuar', 'a': 'abc', 'x': 'xyz'}

In [123]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [124]:
{i: i**2 for i in range(10) if i%2 ==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [125]:
{i: i**2 for i in range(10) if i%2 !=0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [127]:
l=['sudh','kuar',3,5,22,'abc','xyz',2,4,6,73]

In [130]:
{i[0]: i for i in l if type(i)==str}

{'s': 'sudh', 'k': 'kuar', 'a': 'abc', 'x': 'xyz'}

# Function

In [131]:
def test():
    pass

In [132]:
def test():
    print('i am samma')

In [133]:
test()

i am samma

In [134]:
a=test()
a

i am samma

In [135]:
def test1():
    return "this is my test1 with return"

In [136]:
test1()

'this is my test1 with return'

In [138]:
type(test1())

str

In [141]:
a=test1()
a+'me one'

'this is my test1 with returnme one'

In [142]:
#print gives runtype
#use return for benefit

In [152]:
def t():
    return 4,9+8j,3,8,9

In [144]:
a,b,c,d,e=t()
a

4

In [145]:
b

(9+8j)

In [146]:
c

3

In [147]:
d

8

In [148]:
e

4

In [150]:
a,_,_,_,_=t()
a

4

In [153]:
a,_,_,_,_=t()
_

9

In [154]:
def abc(a,b):
    return a+b

In [155]:
abc(3,6)

9

In [156]:
abc('samma','ajhd')

'sammaajhd'

In [157]:
abc([3,5,7],'samma')

TypeError: can only concatenate list (not "str") to list

In [158]:
def abc(a,b):
    c=a/b
    return c

In [159]:
abc(4,7)

0.5714285714285714